extends layout

block content
    h1 About Us
    p
        |Mauris sit amet mi id urna egestas tincidunt vitae quis arcu. Donec dapibus euismod pretium. Sed a leo id nunc eleifend vehicula. Etiam consequat, elit ultricies sollicitudin tristique, nunc nunc ultricies ligula, a iaculis orci purus ac nunc. Suspendisse suscipit ante rutrum viverra ullamcorper.
    p
        |Sed leo justo, consequat a massa at, egestas maximus nisl. Ut sagittis auctor diam. Integer elementum nisl felis, vitae rutrum urna mollis in. Curabitur eget sapien feugiat magna sollicitudin semper ac in tortor. Integer non enim lacus. Phasellus ipsum nulla, finibus congue ante sit amet, laoreet vestibulum arcu. Aliquam ac nulla cursus, rhoncus lorem at, posuere neque. Suspendisse volutpat odio mauris, laoreet malesuada libero luctus elementum.
