extends layout

block content
  .jumbotron
    .container
      .row
        .col-md-7
          h1 Systems not working?
          p
            | Nulla quis ex venenatis, dapibus tortor eget, pellentesque justo.
            | Pellentesque ornare tristique elit, ac aliquet quam gravida vitae.
          p
            a.btn.btn-primary.btn-lg(href='#') Read More
        .col-md-5
           img(src='images/autotesto.jpg')
  .row
    .col-md-4
      .well
        h4 Hardware Problems
        p
          | Duis fermentum purus nec enim accumsan consequat. Cras consequat, libero consequat imperdiet dignissim, est lacus consequat leo, sed bibendum tortor urna sed eros. Nullam dictum risus in nibh placerat,
          | vitae rhoncus arcu aliquet. Nulla non sapien et dolor ultrices lobortis.
    .col-md-4
      .well
        h4 Software Problems
        p
          | Duis fermentum purus nec enim accumsan consequat. Cras consequat, libero consequat imperdiet dignissim, est lacus consequat leo, sed bibendum tortor urna sed eros. Nullam dictum risus in nibh placerat,
          | vitae rhoncus arcu aliquet. Nulla non sapien et dolor ultrices lobortis.
    .col-md-4
      .well
        h4 How we can help you
        p
          | Duis fermentum purus nec enim accumsan consequat. Cras consequat, libero consequat imperdiet dignissim, est lacus consequat leo, sed bibendum tortor urna sed eros. Nullam dictum risus in nibh placerat,
          | vitae rhoncus arcu aliquet. Nulla non sapien et dolor ultrices lobortis.

